{% extends 'layout/app_layout.html' %}
{% block 'content' %}

<div class="container-fluid">
    <div class="d-flex justify-content-center">
      <h1>Manage Users</h1>
    </div>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <div class="row d-flex justify-content-center">
                <div class="container col-8">
                    <form method="get" class="form-inline">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="q" value="{{ query|default:'' }}" placeholder="Search">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-9">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width: 80%; text-align: center;">User Name</th>
                        <th style="width: 20%; text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in page_obj %}
                    <tr>
                        <td>{{user.user_name}}</td>
                        <td>
                            <a href="{% url 'viewuser' user.pk %}" class="btn btn-sm btn-info" style="margin-left: 25px;">View</a>
                            {% if user.status == 'true' %}
                            <form method="post" action="{% url 'usertoggle1' user.pk %}" style="display: inline-block;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-warning" style="width: 70px;">Block</button>
                            </form>
                            {% else %}
                            <form method="post" action="{% url 'usertoggle1' user.pk %}" style="display: inline-block;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-success" style="width: 70px;">Unblock</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2" class="text-center">No users found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                {% if page_obj.has_previous %}
                    <a href="?page=1{% if query %}&q={{ query }}{% endif %}" style="margin-right: 5px; margin-left: 5px;"> First </a>
                    <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" style="margin-right: 5px; margin-left: 5px;"> Previous </a>
                {% endif %}

                <span class="current" style="margin-right: 5px; margin-left: 5px;">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}" style="margin-right: 5px; margin-left: 5px;"> Next </a>
                    <a href="?page={{ page_obj.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}" style="margin-right: 5px; margin-left: 5px;"> Last </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}