{% extends 'layout/app_layout.html' %}
{% block 'content' %}
{% load static %}
<br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-12">
            <h1>{{ post.topic_title }}</h1>
            <br>
            <div class="d-flex justify-content-center">
                <div class="row">
                    {% if post.topic_image %}
                    <div class="col-md-6 col-12" style="height: 400px;">
                        <img class="img-thumbnail" src="{{ post.topic_image.url }}" alt="image" style="height: 400px;">
                    </div>
                    {% endif %}
                    {% if post.topic_video %}
                    <div class="col-md-6 col-12" style="height: 400px;">
                        <video controls style="max-width: 100%;">
                            <source src="{{ post.topic_video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    {% endif %}
                </div>
            </div>
            <p>{{post.topic_description}}</p>
            <br>
            {% if post.topic_link %}
            <a href="{{ post.topic_link }}" target="_blank" data-toggle="tooltip" data-placement="top" title="This is an external link, Mightbe malicious. Proceed with caution !">{{ post.topic_link }}</a>
            {% endif %}
            <br><br>
            <p>Post By: <b>{{ post.user_id }}</b></p>
        </div>
        
        <div class="col-md-2 col-12 mb-5">
            {% if post.status == 'true' %}
            <form method="post" action="{% url 'togglepost2' post.pk %}" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning" style="width: 70px;">Hide</button>
            </form>
            {% else %}
            <form method="post" action="{% url 'togglepost2' post.pk %}" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" style="width: 70px;">Show</button>
            </form>
            {% endif %}
            <!-- delete button -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ post.pk }}">Delete</button>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal{{ post.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ post.pk }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel{{ post.pk }}">Delete Post</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete "{{ post.topic_title}}"?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form method="post" action="{% url 'deletepost' post.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-3" id="cbx">
    <div class="d-flex justify-content-center">
        <h5>Comments</h5>
    </div>
    {% for cmnt in comment %}
    <div class="container-fluid mb-3" id="cmt">
        <p class="mt-3"><b>{{cmnt.user_id}}</b></p>
        <p>{{cmnt.comment}}</p>
        <div class="mb-3 d-flex justify-content-end">
            {% if cmnt.status == 'true' %}
            <form method="post" action="{% url 'togglecmnt' cmnt.pk post.pk %}" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning" style="width: 60px;">Hide</button>
            </form>
            {% else %}
            <form method="post" action="{% url 'togglecmnt' cmnt.pk post.pk %}" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" style="width: 60px;">Show</button>
            </form>
            {% endif %}
            <!-- delete button -->
            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ cmnt.pk }}" style="width: 60px;">Delete</button>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal{{ cmnt.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ cmnt.pk }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel{{ cmnt.pk }}">Delete Post</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete comment from "{{cmnt.user_id}}"?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form method="post" action="{% url 'deletecmnt' cmnt.pk post.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="container-fluid mb-3" id="cmt">
        <p class="mt-3">No Comments Found</p>
    </div>
    {% endfor %}
</div>

{% endblock %}