#ms-heading{
    color: white;
    text-align: center;
}

#ms-msgbox{
    background-color: rgba(0, 0, 0, 0.3);
    height: 70%;
    border: 1px solid rgb(177, 177, 177); 
    border-radius: 10px; 
    overflow-y: scroll;
    position: relative;
}

#ms-sent{
    width: 60%;
    position: absolute;
    bottom: 0;
}

#ms-sip{
    height: 50px;
}

#ms-msg{
    color: white;
    width: 75%;
    background-color: rgba(44, 73, 80, 0.774);
    border: 1px solid rgb(177, 177, 177); 
    border-radius: 10px; 
    float: left;
    clear: both;
}

#ms-msg2{
    color: white;
    text-align: right;
    width: 75%;
    background-color: rgba(19, 70, 36, 0.774);
    border: 1px solid rgb(177, 177, 177); 
    border-radius: 10px; 
    float: right;
    clear: both;
}

#ms-msgbox1 {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 75%;
    word-wrap: break-word;
}
